
.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}




.searches-box {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;

	}




body {
	margin-top: 20px;
	background-color: white;
}


 /* Style for the Navbar  */
.customNav { 
	/* position: fixed; */
	background-color: lightblue;
	/* border-radius: 15px 15px 15px 15px; */
    border: 2px solid #dcfffd;
	z-index: 100;}
	
	/* Style for the logo in Navbar */
.navbar-brand img {
	width: 130px;
  }

h1 {
	text-align: center;
	color: white;
	font-family: 'DM Sans', sans-serif;
}

.jumbo-box {
	background-color: lightblue;
	
}

.search-box {
	font-family: 'DM Sans', sans-serif;
	border: 1px solid black;
	padding: 20px;
	min-height: 50px;
}

.search-container {
	height: 800px; 
	background-color: rgba(0,0,255,0.1);
	border: 1px solid blue;
}

.box {
	background-color: lightblue;
	border: 1px solid black;
	padding: 10px;
	min-height: 500px;
	font-family: 'DM Sans', sans-serif;
}

.previous-searches-box {
	background-color: #EDEDEC;
	border: 1px solid black;
	min-height: 770px;
}

.box1 {
	background-color: #EDEDEC;
	border: 1px solid black;
	min-height: 450px;
}

.article-text-background {
	background-color: #EDEDEC;
}

.trip-advisor-box {
	background-color: #EDEDEC;
	border: 1px solid black;
	min-height: 350px;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }



  /* Media Queries for smaller screen size */

@media screen and (max-width: 768px) {
	
	.searches-box {
		flex: 0 0 auto;
		max-width: 100%;
	}

	.btn {
		display: flex;

	}

	h3 {
		font-size: 15px;
	}

	h4 {
		font-size: 15px;
	}

	
	
}
  /* Style for the button */
.btn {
	background-color: rgb(166, 204, 216);
	border: none;
};

