body {
	margin-top: 20px;
	background-color: antiquewhite;
}

.header-box {
	background-color: lightblue;
	border: 1px solid blue;
	min-height: 50px;
	font-size: 2rem;
}

h1 {
	background-color: gray;
	text-align: center;
    color: black;
}

.jumbo-box {
	background-color: lightblue;
	border: 1px solid blue;
	min-height: 50px;
}

.search-box {
	background-color: lightblue;
	border: 1px solid blue;
	min-height: 50px;
}

.search-container {
	height: 800px; 
	background-color: rgba(0,0,255,0.1);
	border: 1px solid blue;
}

.box {
	background-color: lightblue;
	border: 1px solid blue;
	min-height: 500px;
}

.previous-searches-box {
	background-color: lightgreen;
	border: 1px solid red;
	min-height: 770px;
}

.box1 {
	background-color: lightgreen;
	border: 1px solid red;
	min-height: 450px;
}

.article-text-background {
	background-color: lightgreen;
}

.trip-advisor-box {
	background-color: lightgreen;
	border: 1px solid red;
	min-height: 350px;
}

